<h1><%=h @war_event.title %></h1>

<div class="summary">
  <p>
    <b>Summary:</b>
    <%=h @war_event.summary %>
  </p>
</div>

<table>
  <tr>
    <th>Type of event:</th>
    <td><%=h @war_event.type_of_event %></td>
  </tr>

  <tr>
    <th>Category:</th>
    <td><%=h @war_event.category %></td>
  </tr>

  <tr>
    <th>Region:</th>
    <td><%=h @war_event.region %></td>
  </tr>

  <tr>
    <th>Date:</th>
    <td><%=h @war_event.date.to_s(:full) %></td>
  </tr>

  <tr>
    <th>Attack on:</th>
    <td><%=h @war_event.attack_on %></td>
  </tr>

  <tr>
    <th>Complex attack:</th>
    <td><%=h @war_event.complex_attack %></td>
  </tr>


  <tr>
    <th>Mgrs:</th>
    <td><%=h @war_event.mgrs %></td>
  </tr>

  <tr>
    <th>Latitude:</th>
    <td><%=h @war_event.latitude %></td>
  </tr>

  <tr>
    <th>Longitude:</th>
    <td><%=h @war_event.longitude %></td>
  </tr>

  <tr>
    <th>Originator group:</th>
    <td><%=h @war_event.originator_group %></td>
  </tr>

  <tr>
    <th>Updated by group:</th>
    <td><%=h @war_event.updated_by_group %></td>
  </tr>

  <tr>
    <th>Ccir:</th>
    <td><%=h @war_event.ccir %></td>
  </tr>

  <tr>
    <th>Sigact:</th>
    <td><%=h @war_event.sigact %></td>
  </tr>

  <tr>
    <th>Affiliation:</th>
    <td><%=h @war_event.affiliation %></td>
  </tr>

</table>
<br/>

<%= wia_kia_table(@war_event) %>
<br/>

<table class="data">
  <tr>
    <th>Report key:</th>
    <td><%=h @war_event.report_key %></td>
  </tr>
  <tr>
    <th>Tracking number:</th>
    <td><%=h @war_event.tracking_number %></td>
  </tr>
  <tr>
    <th>Reporting unit:</th>
    <td><%=h @war_event.reporting_unit %></td>
  </tr>

  <tr>
    <th>Unit name:</th>
    <td><%=h @war_event.unit_name %></td>
  </tr>

  <tr>
    <th>Type of unit:</th>
    <td><%=h @war_event.type_of_unit %></td>
  </tr>
  <tr>
    <th>D color:</th>
    <td><%=h @war_event.d_color %></td>
  </tr>

  <tr>
    <th>Classification:</th>
    <td><%=h @war_event.classification %></td>
  </tr>
</table>

<%= link_to 'Back', war_events_path(:page => params[:page]) %>
