<p>
  <b>Report key:</b>
  <%=h @war_event.report_key %>
</p>

<p>
  <b>Type of event:</b>
  <%=h @war_event.type_of_event %>
</p>

<p>
  <b>Category:</b>
  <%=h @war_event.category %>
</p>

<p>
  <b>Tracking number:</b>
  <%=h @war_event.tracking_number %>
</p>

<p>
  <b>Region:</b>
  <%=h @war_event.region %>
</p>

<p>
  <b>Attack on:</b>
  <%=h @war_event.attack_on %>
</p>

<p>
  <b>Complex attack:</b>
  <%=h @war_event.complex_attack %>
</p>

<p>
  <b>Reporting unit:</b>
  <%=h @war_event.reporting_unit %>
</p>

<p>
  <b>Unit name:</b>
  <%=h @war_event.unit_name %>
</p>

<p>
  <b>Type of unit:</b>
  <%=h @war_event.type_of_unit %>
</p>

<p>
  <b>Mgrs:</b>
  <%=h @war_event.mgrs %>
</p>

<p>
  <b>Latitude:</b>
  <%=h @war_event.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%=h @war_event.longitude %>
</p>

<p>
  <b>Originator group:</b>
  <%=h @war_event.originator_group %>
</p>

<p>
  <b>Updated by group:</b>
  <%=h @war_event.updated_by_group %>
</p>

<p>
  <b>Ccir:</b>
  <%=h @war_event.ccir %>
</p>

<p>
  <b>Sigact:</b>
  <%=h @war_event.sigact %>
</p>

<p>
  <b>Affiliation:</b>
  <%=h @war_event.affiliation %>
</p>

<p>
  <b>D color:</b>
  <%=h @war_event.d_color %>
</p>

<p>
  <b>Classification:</b>
  <%=h @war_event.classification %>
</p>

<p>
  <b>Title:</b>
  <%=h @war_event.title %>
</p>

<p>
  <b>Summary:</b>
  <%=h @war_event.summary %>
</p>

<p>
  <b>Friendly wia:</b>
  <%=h @war_event.friendly_wia %>
</p>

<p>
  <b>Friendly kia:</b>
  <%=h @war_event.friendly_kia %>
</p>

<p>
  <b>Host nation wia:</b>
  <%=h @war_event.host_nation_wia %>
</p>

<p>
  <b>Host nation kia:</b>
  <%=h @war_event.host_nation_kia %>
</p>

<p>
  <b>Civilian wia:</b>
  <%=h @war_event.civilian_wia %>
</p>

<p>
  <b>Civilian kia:</b>
  <%=h @war_event.civilian_kia %>
</p>

<p>
  <b>Enemy wia:</b>
  <%=h @war_event.enemy_wia %>
</p>

<p>
  <b>Enemy kia:</b>
  <%=h @war_event.enemy_kia %>
</p>

<p>
  <b>Enemy detained:</b>
  <%=h @war_event.enemy_detained %>
</p>

<p>
  <b>Date:</b>
  <%=h @war_event.date %>
</p>


<%= link_to 'Back', war_events_path %>
