<p><%= page_entries_info war_events, :entry_name => "events" %></p>
<table id="war-events-index">
  <tr>
    <th/>
    <th colspan="3"></th>
    <th colspan="2">Frndly</th>
    <th colspan="2">Host Ntn</th>
    <th colspan="2">Civ</th>
    <th colspan="3">Enemy</th>
    <th colspan="1"></th>
  <tr>
    <th/>
    <th>Title</th>
    <th>Category</th>
    <th>Unit name</th>
    <th>WIA</TH>
    <th>KIA</TH>
    <th>WIA</TH>
    <th>KIA</TH>
    <th>WIA</TH>
    <th>KIA</TH>
    <th>WIA</TH>
    <th>KIA</TH>
    <th>Det</TH>
    <th>Date</th>
  </tr>

<% war_events.each do |war_event| %>
  <tr>
    <td><%= link_to 'Show', war_event_path(war_event) %></td>
    <td class='title'><%=h truncate(war_event.title, :length => 90) %></td>
    <td><%=h war_event.category %></td>
    <td><%=h truncate(war_event.reporting_unit, :length => 22) %></td>
    <td><%=h war_event.friendly_wia %></td>
    <td><%=h war_event.friendly_kia %></td>
    <td><%=h war_event.host_nation_wia %></td>
    <td><%=h war_event.host_nation_kia %></td>
    <td><%=h war_event.civilian_wia %></td>
    <td><%=h war_event.civilian_kia %></td>
    <td><%=h war_event.enemy_wia %></td>
    <td><%=h war_event.enemy_kia %></td>
    <td><%=h war_event.enemy_detained %></td>

    <td><%=h war_event.date.to_s(:concise) %></td>
  </tr>
<% end %>
</table>
<br/>

<%= will_paginate war_events %>
