<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>WarEvents: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'wardiary' %>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-3483358-7']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>

<div class="header">Helping you find interesting information in the leaked Afghan war logs</div>

<p style="color: green"><%= notice %></p>

<%= yield %>

<%= render(:partial => "shared/tag_cloud", :locals => { :tags => @term_tags_for_cloud }) %>

<div class="footer">
  <span class="source_attribution">Source: <%= link_to("http://wardiary.wikileaks.org/", "http://wardiary.wikileaks.org/") %></span>
  <span class="repository">Code: <%= link_to("http://github.com/tomtt/wikileaks_wardiary_on_rails", "http://github.com/tomtt/wikileaks_wardiary_on_rails") %></span>
</div>
</body>
</html>
